<phpunit colors="true"
         verbose="true"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         convertErrorsToExceptions="true"
         stopOnFailure="true">
    <php>
        <env name="ENVIRONMENT" value="testing"/>
        <ini name="error_reporting" value="1"/>
        <ini name="xdebug.mode" value="coverage"/>
        <env name="XDEBUG_MODE" value="coverage"/>
    </php>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>